<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="fragments/fragments :: head('Mottu - Página do Usuário')"></head>
<body class="container">

<div th:replace="fragments/fragments :: navbar"></div>

<h1 class="h1" th:text="|Olá, ${usuario.email}!|"></h1>

<div style="display: flex; align-items: center; gap: 8px;">
    <form th:action="@{/web/usuarios/logout}" method="post">
        <button class="btn btn-secondary" type="submit">Logout</button>
    </form>
    <a class="btn btn-primary" th:href="@{/web/usuarios/atualizar/{id}(id = ${usuario.id})}">Atualizar usuário</a>
    <a class="btn btn-danger" th:href="@{/web/usuarios/deletar/{id}(id = ${usuario.id})}">Excluir usuário</a>
</div>

<div th:replace="fragments/fragments :: footer"></div>
</body>
</html>