<!DOCTYPE html>
<html lang="pt-BR">
<!-- Meta Info -->
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title th:text="${title}">Fragmentos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    <!-- Navbar -->
    <header th:fragment="navbar">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" sec:authorize="isAuthenticated()" th:href="@{/web/filiais}">Mottu</a>
                <a class="navbar-brand" sec:authorize="!isAuthenticated()" th:href="@{/web/usuarios/login}">Mottu</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" sec:authorize="isAuthenticated()" th:href="@{/web/filiais}">Filiais</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/web/motos}">Motos</a>
                        <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/web/usuarios/register}">Cadastro</a>
                        <a class="nav-link" sec:authorize="!isAuthenticated()" th:href="@{/web/usuarios/login}">Login</a>
                        <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/web/usuarios/me}">Seu Perfil</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <!-- Object Deleting Confirm Form -->
    <form th:fragment="delForm(action, cancel)" action="#" th:action="${action}" method="post">
        <div style="display: flex; align-items: center; justify-content: space-between;">
            <button sec:authorize="hasRole('ADMIN')" class="btn btn-danger" type="submit">Confirmar deleção</button>
            <a class="btn btn-secondary" th:href="${cancel}">Cancelar</a>
        </div>
    </form>

    <!-- Footer -->
    <footer th:fragment="footer">
        <p>&copy; 2025 - Sprint 03 Java :D</p>
    </footer>
</body>
</html>
