<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fragmentos - Usuário</title>
</head>
<body>
    <!-- Formulário de Cadastro / Update -->
     <form th:fragment="form(action, submitText, cancelUrl)" th:action="${action}" action="#" th:object="${usuario}" method="post">
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input class="form-control" type="email" th:field="*{email}" required />
            <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Erro no email</p>
        </div>
        <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input class="form-control" type="password" minlength="3" th:field="*{senha}" required />
            <p th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}">Erro na senha</p>
        </div>

        <select class="mb-3 btn btn-secondary dropdown" th:field="*{role}">
            <option class="dropdown-item" value="USER">USER</option>
            <option class="dropdown-item" value="ADMIN">ADMIN</option>
        </select>

        <div style="display: flex; align-items: center; justify-content: space-between;">
            <button class="btn btn-primary" type="submit" th:text="${submitText}"></button>
            <a class="btn btn-secondary" th:href="${cancelUrl}">Cancelar</a>
        </div>
    </form>
</body>
</html>